services:
  candlestick-frontend:
    image: sabatiel180/candlestick-frontend-app # Get frontend application image
    ports:
      - "80:3000" # Map host port 80 to container port 3000
    environment:
      RABBITMQ: candlestick-rabbitmq
      JAVA_API: candlestick-java-api
  candlestick-rabbitmq:
    image: rabbitmq:3-management # Get RabbitMQ image
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'exec 6<> /dev/tcp/localhost/5672'"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 300s
  candlestick-backend:
    image: sabatiel180/candlestick-backend-app # Get backend application image
    environment:
      RABBITMQ: candlestick-rabbitmq
      JAVA_API: candlestick-java-api
    depends_on:
      candlestick-rabbitmq:
        condition: service_healthy
  candlestick-java-api:
    image: sabatiel180/candlestick-java-api-app # Get Java API application image
    ports:
      - "8080:8080" # Map host port 80 to container port 8080
    environment:
      MYSQL_DB: candlestick-mysql
      MYSQL_USER: root
      MYSQL_PASS: mypassword
    depends_on:
      - candlestick-mysql
  candlestick-mysql:
    image: sabatiel180/candlestick-mysql-db-app
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mypassword