services:
  candlestick-frontend:
    image: sabatiel180/candlestick-frontend-app # Get frontend application image
    ports:
      - "80:3000" # Map host port 80 to container port 3000
    environment:
      RABBITMQ: candlestick-rabbitmq
      JAVA_API: candlestick-java-api
  candlestick-rabbitmq:
    image: rabbitmq:3-management # Get RabbitMQ image
    ports:
      - "5672:5672"
      - "15672:15672"
  candlestick-backend:
    image: sabatiel180/candlestick-backend-app # Get backend application image
    ports:
      - "80" # Map host port 80
    environment:
      RABBITMQ: candlestick-rabbitmq
      JAVA_API: candlestick-java-api
  candlestick-java-api:
    image: sabatiel180/candlestick-java-api-app # Get Java API application image
    ports:
      - "80:8080" # Map host port 80 to container port 8080
    environment:
      MYSQL_DB: candlestick-mysql
      MYSQL_USER: root
      MYSQL_PASS: mypassword
  candlestick-mysql:
    image: sabatiel180/candlestick-mysql-db-app
    environment:
      MYSQL_ROOT_PASSWORD: mypassword