apiVersion: v1
kind: Namespace
metadata:
  labels:
    instance: candlestick-app
    name: candlestick-app
  name: candlestick-app
---
apiVersion: v1
kind: Service
metadata:
  name: candlestick-mysql-service
  labels:
    name: candlestick-mysql-service
    app: candlestick-mysql-app
  namespace: candlestick-app
spec:
  type: LoadBalancer
  ports:
    - port: 3306
      targetPort: 3306
      nodePort: 30008
      protocol: TCP
  selector:
    name: candlestick-mysql-app-pod
    app: candlestick-mysql-app
---
apiVersion: v1
kind: Service
metadata:
  name: candlestick-rabbitmq-service
  labels:
    name: candlestick-rabbitmq-service
    app: candlestick-rabbitmq-app
  namespace: candlestick-app
spec:
  type: LoadBalancer
  ports:
    - port: 15672
      targetPort: 15672
      nodePort: 30006
      protocol: TCP
      name: management
    - port: 5672
      targetPort: 5672
      nodePort: 30007
      protocol: TCP
      name: amqp
  selector:
    name: candlestick-rabbitmq-app-pod
    app: candlestick-rabbitmq-app
---
apiVersion: v1
kind: Service
metadata:
  name: candlestick-java-api-service
  labels:
    name: candlestick-java-api-service
    app: candlestick-java-api-app
  namespace: candlestick-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30010
      protocol: TCP
  selector:
    name: candlestick-java-api-app-pod
    app: candlestick-java-api-app
---
apiVersion: v1
kind: Service
metadata:
  name: candlestick-backend-service
  labels:
    name: candlestick-backend-service
    app: candlestick-backend-app
  namespace: candlestick-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30011
      protocol: TCP
  selector:
    name: candlestick-backend-app-pod
    app: candlestick-backend-app
---
apiVersion: v1
kind: Service
metadata:
  name: candlestick-frontend-service
  labels:
    name: candlestick-frontend-service
    app: candlestick-frontend-app
  namespace: candlestick-app
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30005
      protocol: TCP
  selector:
    name: candlestick-frontend-app-pod
    app: candlestick-frontend-app